<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Libre &amp; vivant | Page de connexion{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #1a1a1a;
  font-size: 1.6rem;
  overflow-x: hidden;
}
a {
  color: #2196f3;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-rows: minmax(min-content, 100vh);
  grid-template-columns: repeat(2, 50vw);
}
.heading-secondary {
  font-size: 3rem;
}
.heading-primary {
  font-size: 5rem;
}
.span-blue {
  color: #2196f3;
}
.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.signup-container {
  width: 100vw;
  padding: 10rem 10rem;
  align-items: flex-start;
  justify-content: flex-start;

  grid-column: 1 / 2;
  grid-row: 1;
}
.signup-form {
  max-width: 45rem;
  width: 100%;
}
.text-mute {
  color: #aaa;
}

.input-text {
  font-family: inherit;
  font-size: 1.8rem;
  padding: 3rem 5rem 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background: #eee;
  width: 100%;
}
.input-text:focus {
  outline-color: #2196f3;
}

.btn {
  padding: 2rem 3rem;
  border: none;
  background: #2196f3;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
}
.btn-login {
  align-self: flex-end;
  width: 100%;
  margin-top: 2rem;
  box-shadow: 0 5px 5px #00000020;
}
.btn-login:active {
  box-shadow: none;
}
.btn-login:hover {
  background: #2180f9;
}
.inp {
  position: relative;
}
.label {
  pointer-events: none;

  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #00000070;
  font-weight: 500;
  font-size: 1.8rem;

  transition: all 0.2s;
  transform-origin: left;
}
.input-text:not(:placeholder-shown) + .label,
.input-text:focus + .label {
  top: 0.7rem;
  transform: scale(0.75);
}
.input-text:focus + .label {
  color: #2196f3;
}

.input-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #00000070;
}
.input-icon-password {
  cursor: pointer;
}

.btn-google {
  color: #222;
  background: #fff;
  border: solid 1px #eee;
  padding: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 1px 2px #00000020;
}

.btn-google img {
  width: 3rem;
  margin-right: 1rem;
}

.login-wrapper {
  max-width: 45rem;
  width: 100%;
}
.line-breaker .line {
  width: 50%;
  height: 1px;
  background: #eee;
}
.line-breaker {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;

  margin: 3rem 0;
}
.line-breaker span:nth-child(2) {
  margin: 0 2rem;
}

.welcome-container {
  background: #eeeeee75;
  grid-column: 2 / 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10rem;
}
.lg {
  font-size: 6rem;
}
.welcome-container img {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 54.5%;
  }
}

@media only screen and (max-width: 600px) {
  .signup-container {
    padding: 5rem;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 48.5%;
  }

  .input-text:not(:placeholder-shown) + .label,
  .input-text:focus + .label {
    top: 0.6rem;
    transform: scale(0.75);
  }
  .label {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 1200px) {
  .signup-container {
    grid-column: 1 / 3;
    grid-row: 1/3;
  }
  .welcome-container {
    display: none;
  }
}
</style>

<div class="row" style="height: 100vh; overflow:hidden">
        <main class="signup-container col-7 d-flex">
                <div class="w-auto m-auto">
                        {% if error %}
                        <div class="alert alert-danger">Informations incorrect</div>
                        {% endif %}
                        {% if app.user %}
                        <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.firstname }} {{ app.user.lastname }}<br/>
                                <a href="{{ path('app_logout') }}">Se déconnecter ?</a>
                        </div>
                        {% else %}
                        <h1 class="heading-primary">Connexion<span class="span-blue">.</span></h1>
                        <p class="text-mute">Saisissez vos informations d'identification pour accéder à votre compte.</p>
                        <form method="post" class="signup-form">
                                <label class="inp">
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input-text" placeholder="&nbsp;" required autofocus>
                                        <span class="label">Email</span>
                                        <span class="input-icon"><i class="fa-solid fa-envelope"></i></span>
                                </label>
                                <label class="inp">
                                        <input type="password" class="input-text" name="password" id="inputPassword password" id="password" autocomplete="current-password" placeholder="&nbsp;" required autofocus>
                                        <span class="label">Mot de passe</span>
                                        <span class="input-icon input-icon-password" data-password><i class="fa-solid fa-eye"></i></span>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </label>
                        <button type="submit" class="btn btn-login">Se connecter</button>
                        </form>
                        {% endif %}
                </div>
        </main>
        <div class="welcome-container col-5 p-0" style="transform: rotate(10deg) scale(1.5);overflow: hidden;">
                <div class="w-100 d-flex" style="background: url('{{ asset('img/login.jpg') }}'); background-size: cover;height: 100% !important;padding: 0;margin: 0;transform: rotate(-10deg); margin-left: -10%">
                        <h1 class="heading-secondary m-auto text-white">Bienvenue sur <br/><span class="lg ml-5">Libre &amp; Vivant</span></h1>
                </div>
        </div>
</div>
</body>
</html>

