{% extends 'base.html.twig' %}

{% block title %}Libre &amp; vivant | Page d'accueil{% endblock %}

{% block body %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Calligraffitti&display=swap');
</style>

<div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
                <div class="site-mobile-menu-header">
                        <div class="site-mobile-menu-close mt-3">
                                <span class="icon-close2 js-menu-toggle"></span>
                        </div>
                </div>
                <div class="site-mobile-menu-body"></div>
        </div>
        <header class="site-navbar site-navbar-target" role="banner">
                <div class="container">
                        <div class="row align-items-center position-relative">
                                <div class="col-3 ">
                                        <div class="site-logo">
                                                <a href="index.html">L&V</a>
                                        </div>
                                </div>
                                <div class="col-9  text-right">
                                        <span class="d-inline-block d-lg-none">
                                                <a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white">
                                                        <span class="icon-menu h3 text-white"></span>
                                                </a>
                                        </span>
                                        <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                                                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                                                        <li class="active"><a href="/" class="nav-link">Accueil</a></li>
                                                        <li><a href="/photos" class="nav-link">Toutes mes photos</a></li>
                                                        <li><a href="/contact" class="nav-link">Contact</a></li>
                                                </ul>
                                        </nav>
                                </div>
                        </div>
                </div>
        </header>
        <div class="ftco-blocks-cover-1 w-100" style="height: auto">
                <div class="site-section-cover overlay home-banner h-100" data-stellar-background-ratio="0.5">
                        <div class="container h-100">
                                <div class="row align-items-center justify-content-center text-center h-100">
                                        <div class="col-md-12">
                                                <h1 class="mb-3">Libre & Vivant</h1>
                                                <p style="font-family: 'Bebas Neue', cursive;">Bonjour, je m’appelle Victoria, je suis agée de 20 ans, j’ai fait de la photographie une passion qui permet de rendre heureux les personnes ou de laisser une émotion sur certaines photographies que personne n'arriverait à voir. Aujourd’hui je me présente a vous afin de pouvoir rendre vos moments encore plus magique et d’en faire des souvenirs inoubliable.</p>
                                                <blockquote class="blockquote-footer text-white" style="font-family: 'Calligraffitti', cursive;">La photographie est une brève complicité entre la prévoyance et le hasard. </blockquote>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="site-section p-2 bg-black">
                <div class="row">
                        <div class="col-lg-12 ml-auto pl-lg-5 text-center pt-4">
                                <h3 class="scissors text-center text-red">Dernières prises!</h3>
                                <div class="row w-100">
                                        <div class="col-12">
                                                <div class="price-table pb-4">
                                                        {% for photo in photos %}
                                                                <div class="product-card pt-0 p-1">
                                                                        <div class="w-100">
                                                                                <img class="w-100" src="{{vich_uploader_asset(photo, 'imageFile')|imagine_filter('homepage')}}"/>
                                                                        </div>
                                                                        <div class="d-flex justify-content-end flex-column my-2">
                                                                                <p class="font-weight-bold">{{photo.name}}</p>
                                                                                <p class="text-muted m-0">Ajouté le: {{photo.postDate|date('d-m-Y')}}</p>
                                                                        </div>
                                                                </div>
                                                        {% endfor %}
                                                </div>
                                        </div>
                                </div>
                                <p class="p-5"><a href="/photos" class="btn btn-more">En voir plus</a></p>
                        </div>
                </div>
        </div>
        <div class="site-section bg-black p-0 pt-2">
                <div class="container">
                        <div class="row justify-content-center  mb-5">
                                <div class="col-md-7 text-center">
                                        <h3 class="scissors text-center">Services &amp; Prix</h3>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-12">
                                        <div class="price-table pb-4">
                                                <div class="price-card">
                                                        <h2 class="price-card__title">100 prises</h2>
                                                        <div class="price-card__ribbon"><span class="price-card__ribbon-text">25 €</span></div>
                                                        <p>100 Photos</p>
                                                        <p>Individuel & groupe</p>
                                                </div>
                                                <div class="price-card price-card--highlight">
                                                        <h2 class="price-card__title">200 prises</h2>
                                                        <div class="price-card__ribbon"><span class="price-card__ribbon-text">50 €</span></div>
                                                        <p>200 Photos</p>
                                                        <p>Individuel & groupe</p>
                                                </div>
                                                <div class="price-card">
                                                        <h2 class="price-card__title">Evènements</h2>
                                                        <div class="price-card__ribbon"><span class="price-card__ribbon-text">100 €</span></div>
                                                        <p>Photos illimités</p>
                                                        <p>Individuel & groupe</p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

{% endblock %}
