{# templates/admin/dashboard.html.twig #}
{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_title %}Bienvenue sur le site d'administration{% endblock %}

{% block main %}
    <div class="row justify-content-around">
        <div class="col-lg-3 col-6 card">
            <p>Photos</p>
        </div>
        <div class="col-lg-3 col-6 card">
            <p>Catégories</p>
        </div>
        <div class="col-lg-3 col-6 card">
            <p>Utilisateurs</p>
        </div>
    </div>
{% endblock %}